
<style>
    #Wrapper {
        background-color: orange;
        
        height: 100%;
        width: 120px;
        position: fixed;
    }

</style>

<div id="Wrapper">
    <ul >
        <li>Favourites</li>
        <li>Products</li>
        <li>YourOrders</li>
    </ul>
</div>